<div {{did-insert this.registerListener}}
     {{will-destroy this.unregisterListener}}
     class="ember-file-drop-zone {{if this.disabled 'disabled'}} {{if this.dragging 'dragging'}} {{if this.hovering 'hovering'}}">
  {{yield (hash dragging=this.dragging hovering=this.hovering)}}
</div>