<h1 id="title">ember-file-drop-zone</h1>

<main>
  <section>
    {{#file-drop-zone onDrop=(action "addFiles") disabled=dropZoneDisabled as |state|}}
      {{#if dropZoneDisabled}}
        dropping files is currently disabled...
      {{else}}
        {{#if state.hovering}}
          now let it all go...
        {{else if state.dragging}}
          yes, yes... here it is...
        {{else}}
          just drop your files here...
        {{/if}}
      {{/if}}
    {{/file-drop-zone}}

    <input type="checkbox" id="dropzone-active-checkbox" checked={{readonly dropZoneDisabled}} onchange={{action (mut dropZoneDisabled) value="target.checked"}}>
    <label for="dropzone-active-checkbox">dropzone disabled</label>

    <h3>file drop history</h3>
    <ul>
      {{#each files as |file|}}
        <li>{{file.name}} - {{file.size}} bytes</li>
      {{/each}}
    </ul>
  </section>

  <section>
    {{#file-drop-zone onDrop=(action "countFiles") as |state|}}
      {{#if state.hovering}}
        now let it all go...
      {{else if state.dragging}}
        yes, yes... here it is...
      {{else}}
        or drop them here to count them...
      {{/if}}
    {{/file-drop-zone}}

    <div>files counted: {{fileCount}}</div>
  </section>
</main>
{{outlet}}